* {
    font-family: "Poppins", sans-serif;
}

#mallu {
    margin-top: 15px;
    font-family: "Noto Sans Malayalam", sans-serif;
    font-optical-sizing: auto;
}

.overdue {
    background-color: #ffa4b2; /* Red */
}

.due-today {
    background-color: #9ac1ff; /* Blue */
}

.due-soon {
    background-color: #24edaa; /* Green */
}

.due-later {
    background-color: #f3f4f6; /* Off-white */
}

.task-completed {
    background-color: #d1d5db;
    text-decoration: line-through;
}

.task-container {
    cursor: pointer;
}

.delete-icon,
.complete-icon {
    cursor: pointer;
}

.hidden {
    display: none;
}

.task-completed {
    background-color: #d1d5db;
    text-decoration: line-through;
}

.task-list-gap {
    gap: 15px;
}

.task-list-item {
    width: calc(100% - 20px);
}

@media (min-width: 640px) {
    .task-list-item {
        width: calc(100% - 30px); /* Adjusted width for desktop view */
    }
}

#errorMessage {
    display: block;
}

.task-list-item {
    transition: all 0.5s ease;
}


body {
    background-image: url('../images/dmj.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(147, 133, 133, 0.707); /* Adjust the opacity as needed */
    z-index: -1; /* Make sure the overlay is behind the content */
}